# Ignorar arquivos de log
*.log

# Ignorar diretórios de build
/build/
/dist/

# Ignorar arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db

# Ignorar dependências
/node_modules/
# Ignorar arquivos binários e de debug
CursoOnline.WebAPI/bin/
CursoOnline.WebAPI/obj/
CursosOnline.EFCore/bin/
CursosOnline.EFCore/obj/
CursosOnline/bin/
CursosOnline/obj/

# Ignorar banco de dados SQLite
CursosOnline.EFCore/cursosonline.db
CursosOnline.EFCore/cursosonline.db-shm
CursosOnline.EFCore/cursosonline.db-wal

# Ignorar arquivos de build do .NET
**/obj/
**/bin/

# Ignorar arquivos AssemblyInfo e caches
**/obj/**/AssemblyInfo.*
**/obj/**/AssemblyInfoInputs.cache
**/obj/**/AssemblyReference.cache
CursoOnline.WebAPI/obj/Debug/net8.0/CursosOnline.WebAPI.AssemblyInfo.cs
CursoOnline.WebAPI/obj/Debug/net8.0/CursosOnline.WebAPI.csproj.AssemblyReference.cache
CursosOnline/obj/Debug/net8.0/CursosOnline.Model.AssemblyInfo.cs
CursosOnline/obj/Debug/net8.0/CursosOnline.Model.AssemblyInfoInputs.cache
CursoOnline.WebAPI/obj/Debug/net8.0/CursosOnline.WebAPI.AssemblyInfoInputs.cache
CursosOnline.MongoDB/obj/Debug/net8.0/CursosOnline.MongoDB.AssemblyInfo.cs
CursosOnline.MongoDB/obj/Debug/net8.0/CursosOnline.MongoDB.AssemblyInfoInputs.cache
CursoOnline.WebAPI/obj/Debug/net8.0/CursosOnline.WebAPI.AssemblyInfoInputs.cache
CursoOnline.WebAPI/obj/Debug/net8.0/CursosOnline.WebAPI.csproj.AssemblyReference.cache
CursoOnline.WebAPI/obj/Debug/net8.0/CursosOnline.WebAPI.AssemblyInfo.cs
