<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PWA</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link text-white" href="/cadastro-aula" Match="NavLinkMatch.All">
                 <i class="bi bi-list-check"></i> Cadastro de Aula
            </NavLink>
        </div>
        @* <div class="nav-item">
            <NavLink class="nav-link text-white" href="/cadastro-modulo" Match="NavLinkMatch.All">
                 <i class="bi bi-list-check"></i> Cadastro de Modulo
            </NavLink>
        </div> *@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
